<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="login">
    <input type="text" name="username" id="username" placeholder="Username">
    <input type="password" name="password" id="password" placeholder="Password">
    <button type="submit" onclick="onClick()">Submit</button>
  </div>

  <script>
    let onClick = () => {
      let username = document.getElementById("username")
      let password = document.getElementById("password")

      let config = {
        method: "post",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({
          username: username.value,
          password: password.value
        })
      }

      fetch("/login", config)
        .then(response => response.json())
        .then(result => {
          console.log(result)
          if (result.message === "Login Successful") {
            window.location.href = "/"
          }
          // sessionStorage.setItem("login-data", JSON.stringify(result))
        })
        .catch(err => console.log(err))

      username = ""
      password = ""
    }
  </script>
</body>

</html>