#about {
  background-image: url("../assets/the-games-bg.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

#about > #text {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

#about > div.swiper-container > div.swiper-button-prev,
div.swiper-button-next,
div.swiper-pagination {
  color: white;
}

#about > div.swiper-container > div.swiper-wrapper {
  height: 30%;
}

#about > div.swiper-container > div.swiper-button-prev {
  margin-left: -50px;
}

#about > div.swiper-container > div.swiper-button-next {
  margin-right: -50px;
}
