#quotes {
    background-image: url("../assets/bg-5.png");
    background-position: center;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

#quotes > #tweets > .card {
    background: #1c1b1b;
}
