#sysreq {
  background-image: url("../assets/requirements.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: grid;
  font-family: Arial, Helvetica, sans-serif;
}
